<h1 id='dash-header' class='center'>jQuery Examples</h1>
<br />

<button id='hello-button'>Say Hello</button>

<hr>

<h3>Users List</h3>
<input type='text' placeholder='UserName' id='user-input' />
<button id='add-user'>Submit</button>
<br>

<ul id='users-list'></ul>
