<h1 id='dash-header' class='center'>jQuery Examples</h1>
<br />

<button id='hello-button'>Say Hello</button>

<hr>

<h3>Users List</h3>
<input type='text' placeholder='UserName' id='user-input' />
<button id='add-user'>Submit</button>
<br>

<ul id='users-list'></ul>

<hr>

<div id='fake-text' class='hidden'>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<button id='show-text'>Show Text</button>

<ul id='name-list'>
  <li>Jake</li>
  <li>peri</li>
  <li>nolan</li>
  <li>jax</li>
</ul>
